.App {
  text-align: center;
}

.flex-container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.background {
  background-color: #1f2535;
  margin: 50px;
}

.box {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
